Common/InMotionGIT.Common.Proxy - Copy/Service References/DataManager/DataManager9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:InMotionGIT.Common.LookUpPackage" elementFormDefault="qualified" targetNamespace="urn:InMotionGIT.Common.LookUpPackage" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64439/DataManager.svc?xsd=xsd5" namespace="urn:InMotionGIT.Common.DataType" />
  <xs:complexType name="ArrayOfLookUpPackage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LookUpPackage" nillable="true" type="tns:LookUpPackage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLookUpPackage" nillable="true" type="tns:ArrayOfLookUpPackage" />
  <xs:complexType name="LookUpPackage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element xmlns:q1="urn:InMotionGIT.Common.DataType" minOccurs="0" name="Items" nillable="true" type="q1:ArrayOfLookUpValue" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LookUpPackage" nillable="true" type="tns:LookUpPackage" />
</xs:schema>