Common/InMotionGIT.Common.Proxy - Copy/Service References/DataManager/DataManager14.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/InMotionGIT.Common.Services.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/InMotionGIT.Common.Services.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64439/DataManager.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:64439/DataManager.svc?xsd=xsd5" namespace="urn:InMotionGIT.Common.DataType" />
  <xs:import schemaLocation="http://localhost:64439/DataManager.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/InMotionGIT.Common.Enumerations" />
  <xs:import schemaLocation="http://localhost:64439/DataManager.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
  <xs:complexType name="DataCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="ConnectionStringName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConnectionStringsRaw" nillable="true" type="tns:ConnectionString" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Fields" nillable="true" type="q1:ArrayOfKeyValueOfstringanyType" />
      <xs:element minOccurs="0" name="IgnoreMaxNumberOfRecords" type="xs:boolean" />
      <xs:element xmlns:q2="urn:InMotionGIT.Common.DataType" minOccurs="0" name="LookUp" nillable="true" type="q2:LookUpValue" />
      <xs:element minOccurs="0" name="MaxNumberOfRecord" type="xs:int" />
      <xs:element minOccurs="0" name="ObjectType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Operation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Owner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Parameters" nillable="true" type="tns:ArrayOfDataParameter" />
      <xs:element minOccurs="0" name="QueryCount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QueryCountResult" type="xs:int" />
      <xs:element minOccurs="0" name="Statement" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TableName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataCommand" nillable="true" type="tns:DataCommand" />
  <xs:complexType name="ConnectionString">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConnectionString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DatabaseName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Owners" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProviderName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceName" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/InMotionGIT.Common.Enumerations" minOccurs="0" name="SourceType" type="q3:EnumSourceType" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConnectionString" nillable="true" type="tns:ConnectionString" />
  <xs:complexType name="ArrayOfDataParameter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataParameter" nillable="true" type="tns:DataParameter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataParameter" nillable="true" type="tns:ArrayOfDataParameter" />
  <xs:complexType name="DataParameter">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/System.Data" minOccurs="0" name="Direction" type="q4:ParameterDirection" />
      <xs:element minOccurs="0" name="IsNull" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Size" type="xs:int" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/System.Data" minOccurs="0" name="Type" type="q5:DbType" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataParameter" nillable="true" type="tns:DataParameter" />
  <xs:complexType name="QueryResult">
    <xs:sequence>
      <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="OutputParameters" nillable="true" type="q6:ArrayOfKeyValueOfstringanyType" />
      <xs:element minOccurs="0" name="QueryCountResult" type="xs:int" />
      <xs:element minOccurs="0" name="Table" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueryResult" nillable="true" type="tns:QueryResult" />
  <xs:complexType name="StoredProcedureResult">
    <xs:sequence>
      <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="OutParameter" nillable="true" type="q7:ArrayOfKeyValueOfstringanyType" />
      <xs:element minOccurs="0" name="RowAffected" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StoredProcedureResult" nillable="true" type="tns:StoredProcedureResult" />
  <xs:complexType name="ArrayOfDataCommand">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataCommand" nillable="true" type="tns:DataCommand" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataCommand" nillable="true" type="tns:ArrayOfDataCommand" />
  <xs:complexType name="ArrayOfConnectionString">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConnectionString" nillable="true" type="tns:ConnectionString" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConnectionString" nillable="true" type="tns:ArrayOfConnectionString" />
  <xs:complexType name="Credential">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConnectionStringName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Credential" nillable="true" type="tns:Credential" />
  <xs:complexType name="info">
    <xs:sequence>
      <xs:element minOccurs="0" name="CheckSum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Childs" nillable="true" type="tns:ArrayOfinfo" />
      <xs:element minOccurs="0" name="IsFolder" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastWrite" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Length" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PathFullName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="info" nillable="true" type="tns:info" />
  <xs:complexType name="ArrayOfinfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="info" nillable="true" type="tns:info" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfinfo" nillable="true" type="tns:ArrayOfinfo" />
</xs:schema>