Common/InMotionGIT.Common/Service References/EventLogClient/EventLogManagerService32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/InMotionGIT.EventLog.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/InMotionGIT.EventLog.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EventLog">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Entry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EventLogDetail" nillable="true" type="tns:EventLogDetail" />
      <xs:element minOccurs="0" name="FactTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HostSource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeTrace" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventLog" nillable="true" type="tns:EventLog" />
  <xs:complexType name="EventLogDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="Detail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventLogDetail" nillable="true" type="tns:EventLogDetail" />
</xs:schema>