New folder/Service References/DataManager/DataManager1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://40.87.63.36:8082/FrontOffice/DataManager.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/InMotionGIT.Common.Services.Contracts" />
  <xs:import schemaLocation="http://40.87.63.36:8082/FrontOffice/DataManager.svc?xsd=xsd5" namespace="urn:InMotionGIT.Common.DataType" />
  <xs:element name="QueryExecuteToTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/InMotionGIT.Common.Services.Contracts" minOccurs="0" name="command" nillable="true" type="q1:DataCommand" />
        <xs:element minOccurs="0" name="resultEmpty" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryExecuteToTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/InMotionGIT.Common.Services.Contracts" minOccurs="0" name="QueryExecuteToTableResult" nillable="true" type="q2:QueryResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryExecuteScalar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/InMotionGIT.Common.Services.Contracts" minOccurs="0" name="command" nillable="true" type="q3:DataCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryExecuteScalarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryExecuteScalarResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryExecuteScalarToInteger">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/InMotionGIT.Common.Services.Contracts" minOccurs="0" name="command" nillable="true" type="q4:DataCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryExecuteScalarToIntegerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryExecuteScalarToIntegerResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryExecuteScalarToDecimal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/InMotionGIT.Common.Services.Contracts" minOccurs="0" name="command" nillable="true" type="q5:DataCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryExecuteScalarToDecimalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryExecuteScalarToDecimalResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryExecuteToLookup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/InMotionGIT.Common.Services.Contracts" minOccurs="0" name="command" nillable="true" type="q6:DataCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryExecuteToLookupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="urn:InMotionGIT.Common.DataType" minOccurs="0" name="QueryExecuteToLookupResult" nillable="true" type="q7:ArrayOfLookUpValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryExecuteScalarToString">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/InMotionGIT.Common.Services.Contracts" minOccurs="0" name="command" nillable="true" type="q8:DataCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryExecuteScalarToStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryExecuteScalarToStringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryExecuteScalarToDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/InMotionGIT.Common.Services.Contracts" minOccurs="0" name="command" nillable="true" type="q9:DataCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryExecuteScalarToDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryExecuteScalarToDateResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommandExecute">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/InMotionGIT.Common.Services.Contracts" minOccurs="0" name="command" nillable="true" type="q10:DataCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommandExecuteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CommandExecuteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommandExecuteAsynchronous">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/InMotionGIT.Common.Services.Contracts" minOccurs="0" name="command" nillable="true" type="q11:DataCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataStructure">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/InMotionGIT.Common.Services.Contracts" minOccurs="0" name="command" nillable="true" type="q12:DataCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataStructureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DataStructureResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResolveStatement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/InMotionGIT.Common.Services.Contracts" minOccurs="0" name="command" nillable="true" type="q13:DataCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResolveStatementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResolveStatementResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObjectExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/InMotionGIT.Common.Services.Contracts" minOccurs="0" name="command" nillable="true" type="q14:DataCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObjectExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObjectExistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcedureExecuteToTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/InMotionGIT.Common.Services.Contracts" minOccurs="0" name="command" nillable="true" type="q15:DataCommand" />
        <xs:element minOccurs="0" name="resultEmpty" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcedureExecuteToTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/InMotionGIT.Common.Services.Contracts" minOccurs="0" name="ProcedureExecuteToTableResult" nillable="true" type="q16:QueryResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcedureExecute">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/InMotionGIT.Common.Services.Contracts" minOccurs="0" name="command" nillable="true" type="q17:DataCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcedureExecuteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/InMotionGIT.Common.Services.Contracts" minOccurs="0" name="ProcedureExecuteResult" nillable="true" type="q18:StoredProcedureResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcedureExecuteResultSchema">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/InMotionGIT.Common.Services.Contracts" minOccurs="0" name="command" nillable="true" type="q19:DataCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcedureExecuteResultSchemaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProcedureExecuteResultSchemaResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PackageExecuteScalar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/InMotionGIT.Common.Services.Contracts" minOccurs="0" name="commands" nillable="true" type="q20:ArrayOfDataCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PackageExecuteScalarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PackageExecuteScalarResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryExecuteToTableJSON">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/InMotionGIT.Common.Services.Contracts" minOccurs="0" name="command" nillable="true" type="q21:DataCommand" />
        <xs:element minOccurs="0" name="resultEmpty" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryExecuteToTableJSONResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryExecuteToTableJSONResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectionStringGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConnectionStrinName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="companyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectionStringGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/InMotionGIT.Common.Services.Contracts" minOccurs="0" name="ConnectionStringGetResult" nillable="true" type="q22:ConnectionString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectionStringGetAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodeValidator" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="companyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectionStringGetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/InMotionGIT.Common.Services.Contracts" minOccurs="0" name="ConnectionStringGetAllResult" nillable="true" type="q23:ArrayOfConnectionString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectionStringUserAndPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConectionStringName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="companyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectionStringUserAndPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/InMotionGIT.Common.Services.Contracts" minOccurs="0" name="ConnectionStringUserAndPasswordResult" nillable="true" type="q24:Credential" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataBaseProvider">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="repositoryName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataBaseProviderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataBaseProviderResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSettingValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="repositoryName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="settingName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSettingValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSettingValueResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CurrentTime">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CurrentTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CurrentTimeResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AppInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AppInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/InMotionGIT.Common.Services.Contracts" minOccurs="0" name="AppInfoResult" nillable="true" type="q25:info" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>