InMotionGIT.Common.Proxy/Service References/DataManager/DataManager1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="DataManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IDataManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://www.inmotiontools.com:8083/FrontOffice/DataManager.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://www.inmotiontools.com:8083/FrontOffice/DataManager.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://www.inmotiontools.com:8083/FrontOffice/DataManager.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/InMotionGIT.Common.Services.Contracts" />
      <xsd:import schemaLocation="https://www.inmotiontools.com:8083/FrontOffice/DataManager.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/InMotionGIT.Common.Enumerations" />
      <xsd:import schemaLocation="https://www.inmotiontools.com:8083/FrontOffice/DataManager.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="https://www.inmotiontools.com:8083/FrontOffice/DataManager.svc?xsd=xsd5" namespace="urn:InMotionGIT.Common.DataType" />
      <xsd:import schemaLocation="https://www.inmotiontools.com:8083/FrontOffice/DataManager.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="https://www.inmotiontools.com:8083/FrontOffice/DataManager.svc?xsd=xsd7" namespace="urn:InMotionGIT.Common.LookUpPackage" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataManager_QueryExecuteToTable_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryExecuteToTable" />
  </wsdl:message>
  <wsdl:message name="IDataManager_QueryExecuteToTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryExecuteToTableResponse" />
  </wsdl:message>
  <wsdl:message name="IDataManager_QueryExecuteScalar_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryExecuteScalar" />
  </wsdl:message>
  <wsdl:message name="IDataManager_QueryExecuteScalar_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryExecuteScalarResponse" />
  </wsdl:message>
  <wsdl:message name="IDataManager_QueryExecuteScalarToInteger_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryExecuteScalarToInteger" />
  </wsdl:message>
  <wsdl:message name="IDataManager_QueryExecuteScalarToInteger_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryExecuteScalarToIntegerResponse" />
  </wsdl:message>
  <wsdl:message name="IDataManager_QueryExecuteScalarToDecimal_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryExecuteScalarToDecimal" />
  </wsdl:message>
  <wsdl:message name="IDataManager_QueryExecuteScalarToDecimal_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryExecuteScalarToDecimalResponse" />
  </wsdl:message>
  <wsdl:message name="IDataManager_QueryExecuteToLookup_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryExecuteToLookup" />
  </wsdl:message>
  <wsdl:message name="IDataManager_QueryExecuteToLookup_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryExecuteToLookupResponse" />
  </wsdl:message>
  <wsdl:message name="IDataManager_QueryExecuteScalarToString_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryExecuteScalarToString" />
  </wsdl:message>
  <wsdl:message name="IDataManager_QueryExecuteScalarToString_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryExecuteScalarToStringResponse" />
  </wsdl:message>
  <wsdl:message name="IDataManager_QueryExecuteScalarToDate_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryExecuteScalarToDate" />
  </wsdl:message>
  <wsdl:message name="IDataManager_QueryExecuteScalarToDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryExecuteScalarToDateResponse" />
  </wsdl:message>
  <wsdl:message name="IDataManager_CommandExecute_InputMessage">
    <wsdl:part name="parameters" element="tns:CommandExecute" />
  </wsdl:message>
  <wsdl:message name="IDataManager_CommandExecute_OutputMessage">
    <wsdl:part name="parameters" element="tns:CommandExecuteResponse" />
  </wsdl:message>
  <wsdl:message name="IDataManager_CommandExecuteAsynchronous_InputMessage">
    <wsdl:part name="parameters" element="tns:CommandExecuteAsynchronous" />
  </wsdl:message>
  <wsdl:message name="IDataManager_DataStructure_InputMessage">
    <wsdl:part name="parameters" element="tns:DataStructure" />
  </wsdl:message>
  <wsdl:message name="IDataManager_DataStructure_OutputMessage">
    <wsdl:part name="parameters" element="tns:DataStructureResponse" />
  </wsdl:message>
  <wsdl:message name="IDataManager_ResolveStatement_InputMessage">
    <wsdl:part name="parameters" element="tns:ResolveStatement" />
  </wsdl:message>
  <wsdl:message name="IDataManager_ResolveStatement_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResolveStatementResponse" />
  </wsdl:message>
  <wsdl:message name="IDataManager_ObjectExist_InputMessage">
    <wsdl:part name="parameters" element="tns:ObjectExist" />
  </wsdl:message>
  <wsdl:message name="IDataManager_ObjectExist_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObjectExistResponse" />
  </wsdl:message>
  <wsdl:message name="IDataManager_ProcedureExecuteToTable_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcedureExecuteToTable" />
  </wsdl:message>
  <wsdl:message name="IDataManager_ProcedureExecuteToTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcedureExecuteToTableResponse" />
  </wsdl:message>
  <wsdl:message name="IDataManager_ProcedureExecute_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcedureExecute" />
  </wsdl:message>
  <wsdl:message name="IDataManager_ProcedureExecute_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcedureExecuteResponse" />
  </wsdl:message>
  <wsdl:message name="IDataManager_ProcedureExecuteResultSchema_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcedureExecuteResultSchema" />
  </wsdl:message>
  <wsdl:message name="IDataManager_ProcedureExecuteResultSchema_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcedureExecuteResultSchemaResponse" />
  </wsdl:message>
  <wsdl:message name="IDataManager_PackageExecuteScalar_InputMessage">
    <wsdl:part name="parameters" element="tns:PackageExecuteScalar" />
  </wsdl:message>
  <wsdl:message name="IDataManager_PackageExecuteScalar_OutputMessage">
    <wsdl:part name="parameters" element="tns:PackageExecuteScalarResponse" />
  </wsdl:message>
  <wsdl:message name="IDataManager_PackageExecuteToLookUp_InputMessage">
    <wsdl:part name="parameters" element="tns:PackageExecuteToLookUp" />
  </wsdl:message>
  <wsdl:message name="IDataManager_PackageExecuteToLookUp_OutputMessage">
    <wsdl:part name="parameters" element="tns:PackageExecuteToLookUpResponse" />
  </wsdl:message>
  <wsdl:message name="IDataManager_QueryExecuteToTableJSON_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryExecuteToTableJSON" />
  </wsdl:message>
  <wsdl:message name="IDataManager_QueryExecuteToTableJSON_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryExecuteToTableJSONResponse" />
  </wsdl:message>
  <wsdl:message name="IDataManager_ConnectionStringGet_InputMessage">
    <wsdl:part name="parameters" element="tns:ConnectionStringGet" />
  </wsdl:message>
  <wsdl:message name="IDataManager_ConnectionStringGet_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectionStringGetResponse" />
  </wsdl:message>
  <wsdl:message name="IDataManager_ConnectionStringGetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:ConnectionStringGetAll" />
  </wsdl:message>
  <wsdl:message name="IDataManager_ConnectionStringGetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectionStringGetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IDataManager_ConnectionStringUserAndPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ConnectionStringUserAndPassword" />
  </wsdl:message>
  <wsdl:message name="IDataManager_ConnectionStringUserAndPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectionStringUserAndPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IDataManager_GetDataBaseProvider_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataBaseProvider" />
  </wsdl:message>
  <wsdl:message name="IDataManager_GetDataBaseProvider_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataBaseProviderResponse" />
  </wsdl:message>
  <wsdl:message name="IDataManager_GetSettingValue_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSettingValue" />
  </wsdl:message>
  <wsdl:message name="IDataManager_GetSettingValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSettingValueResponse" />
  </wsdl:message>
  <wsdl:message name="IDataManager_CurrentTime_InputMessage">
    <wsdl:part name="parameters" element="tns:CurrentTime" />
  </wsdl:message>
  <wsdl:message name="IDataManager_CurrentTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:CurrentTimeResponse" />
  </wsdl:message>
  <wsdl:message name="IDataManager_AppInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:AppInfo" />
  </wsdl:message>
  <wsdl:message name="IDataManager_AppInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:AppInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IDataManager_Check_InputMessage">
    <wsdl:part name="parameters" element="tns:Check" />
  </wsdl:message>
  <wsdl:message name="IDataManager_Check_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckResponse" />
  </wsdl:message>
  <wsdl:portType name="IDataManager">
    <wsdl:operation name="QueryExecuteToTable">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataManager/QueryExecuteToTable" message="tns:IDataManager_QueryExecuteToTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataManager/QueryExecuteToTableResponse" message="tns:IDataManager_QueryExecuteToTable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryExecuteScalar">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataManager/QueryExecuteScalar" message="tns:IDataManager_QueryExecuteScalar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataManager/QueryExecuteScalarResponse" message="tns:IDataManager_QueryExecuteScalar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryExecuteScalarToInteger">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataManager/QueryExecuteScalarToInteger" message="tns:IDataManager_QueryExecuteScalarToInteger_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataManager/QueryExecuteScalarToIntegerResponse" message="tns:IDataManager_QueryExecuteScalarToInteger_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryExecuteScalarToDecimal">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataManager/QueryExecuteScalarToDecimal" message="tns:IDataManager_QueryExecuteScalarToDecimal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataManager/QueryExecuteScalarToDecimalResponse" message="tns:IDataManager_QueryExecuteScalarToDecimal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryExecuteToLookup">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataManager/QueryExecuteToLookup" message="tns:IDataManager_QueryExecuteToLookup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataManager/QueryExecuteToLookupResponse" message="tns:IDataManager_QueryExecuteToLookup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryExecuteScalarToString">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataManager/QueryExecuteScalarToString" message="tns:IDataManager_QueryExecuteScalarToString_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataManager/QueryExecuteScalarToStringResponse" message="tns:IDataManager_QueryExecuteScalarToString_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryExecuteScalarToDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataManager/QueryExecuteScalarToDate" message="tns:IDataManager_QueryExecuteScalarToDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataManager/QueryExecuteScalarToDateResponse" message="tns:IDataManager_QueryExecuteScalarToDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CommandExecute">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataManager/CommandExecute" message="tns:IDataManager_CommandExecute_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataManager/CommandExecuteResponse" message="tns:IDataManager_CommandExecute_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CommandExecuteAsynchronous">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataManager/CommandExecuteAsynchronous" message="tns:IDataManager_CommandExecuteAsynchronous_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DataStructure">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataManager/DataStructure" message="tns:IDataManager_DataStructure_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataManager/DataStructureResponse" message="tns:IDataManager_DataStructure_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResolveStatement">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataManager/ResolveStatement" message="tns:IDataManager_ResolveStatement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataManager/ResolveStatementResponse" message="tns:IDataManager_ResolveStatement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObjectExist">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataManager/ObjectExist" message="tns:IDataManager_ObjectExist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataManager/ObjectExistResponse" message="tns:IDataManager_ObjectExist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcedureExecuteToTable">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataManager/ProcedureExecuteToTable" message="tns:IDataManager_ProcedureExecuteToTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataManager/ProcedureExecuteToTableResponse" message="tns:IDataManager_ProcedureExecuteToTable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcedureExecute">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataManager/ProcedureExecute" message="tns:IDataManager_ProcedureExecute_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataManager/ProcedureExecuteResponse" message="tns:IDataManager_ProcedureExecute_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcedureExecuteResultSchema">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataManager/ProcedureExecuteResultSchema" message="tns:IDataManager_ProcedureExecuteResultSchema_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataManager/ProcedureExecuteResultSchemaResponse" message="tns:IDataManager_ProcedureExecuteResultSchema_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PackageExecuteScalar">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataManager/PackageExecuteScalar" message="tns:IDataManager_PackageExecuteScalar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataManager/PackageExecuteScalarResponse" message="tns:IDataManager_PackageExecuteScalar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PackageExecuteToLookUp">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataManager/PackageExecuteToLookUp" message="tns:IDataManager_PackageExecuteToLookUp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataManager/PackageExecuteToLookUpResponse" message="tns:IDataManager_PackageExecuteToLookUp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryExecuteToTableJSON">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataManager/QueryExecuteToTableJSON" message="tns:IDataManager_QueryExecuteToTableJSON_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataManager/QueryExecuteToTableJSONResponse" message="tns:IDataManager_QueryExecuteToTableJSON_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConnectionStringGet">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataManager/ConnectionStringGet" message="tns:IDataManager_ConnectionStringGet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataManager/ConnectionStringGetResponse" message="tns:IDataManager_ConnectionStringGet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConnectionStringGetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataManager/ConnectionStringGetAll" message="tns:IDataManager_ConnectionStringGetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataManager/ConnectionStringGetAllResponse" message="tns:IDataManager_ConnectionStringGetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConnectionStringUserAndPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataManager/ConnectionStringUserAndPassword" message="tns:IDataManager_ConnectionStringUserAndPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataManager/ConnectionStringUserAndPasswordResponse" message="tns:IDataManager_ConnectionStringUserAndPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataBaseProvider">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataManager/GetDataBaseProvider" message="tns:IDataManager_GetDataBaseProvider_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataManager/GetDataBaseProviderResponse" message="tns:IDataManager_GetDataBaseProvider_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSettingValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataManager/GetSettingValue" message="tns:IDataManager_GetSettingValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataManager/GetSettingValueResponse" message="tns:IDataManager_GetSettingValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CurrentTime">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataManager/CurrentTime" message="tns:IDataManager_CurrentTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataManager/CurrentTimeResponse" message="tns:IDataManager_CurrentTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AppInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataManager/AppInfo" message="tns:IDataManager_AppInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataManager/AppInfoResponse" message="tns:IDataManager_AppInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Check">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataManager/Check" message="tns:IDataManager_Check_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataManager/CheckResponse" message="tns:IDataManager_Check_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IDataManager" type="tns:IDataManager">
    <wsp:PolicyReference URI="#WSHttpBinding_IDataManager_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QueryExecuteToTable">
      <soap12:operation soapAction="http://tempuri.org/IDataManager/QueryExecuteToTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryExecuteScalar">
      <soap12:operation soapAction="http://tempuri.org/IDataManager/QueryExecuteScalar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryExecuteScalarToInteger">
      <soap12:operation soapAction="http://tempuri.org/IDataManager/QueryExecuteScalarToInteger" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryExecuteScalarToDecimal">
      <soap12:operation soapAction="http://tempuri.org/IDataManager/QueryExecuteScalarToDecimal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryExecuteToLookup">
      <soap12:operation soapAction="http://tempuri.org/IDataManager/QueryExecuteToLookup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryExecuteScalarToString">
      <soap12:operation soapAction="http://tempuri.org/IDataManager/QueryExecuteScalarToString" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryExecuteScalarToDate">
      <soap12:operation soapAction="http://tempuri.org/IDataManager/QueryExecuteScalarToDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CommandExecute">
      <soap12:operation soapAction="http://tempuri.org/IDataManager/CommandExecute" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CommandExecuteAsynchronous">
      <soap12:operation soapAction="http://tempuri.org/IDataManager/CommandExecuteAsynchronous" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="DataStructure">
      <soap12:operation soapAction="http://tempuri.org/IDataManager/DataStructure" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResolveStatement">
      <soap12:operation soapAction="http://tempuri.org/IDataManager/ResolveStatement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObjectExist">
      <soap12:operation soapAction="http://tempuri.org/IDataManager/ObjectExist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcedureExecuteToTable">
      <soap12:operation soapAction="http://tempuri.org/IDataManager/ProcedureExecuteToTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcedureExecute">
      <soap12:operation soapAction="http://tempuri.org/IDataManager/ProcedureExecute" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcedureExecuteResultSchema">
      <soap12:operation soapAction="http://tempuri.org/IDataManager/ProcedureExecuteResultSchema" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PackageExecuteScalar">
      <soap12:operation soapAction="http://tempuri.org/IDataManager/PackageExecuteScalar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PackageExecuteToLookUp">
      <soap12:operation soapAction="http://tempuri.org/IDataManager/PackageExecuteToLookUp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryExecuteToTableJSON">
      <soap12:operation soapAction="http://tempuri.org/IDataManager/QueryExecuteToTableJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConnectionStringGet">
      <soap12:operation soapAction="http://tempuri.org/IDataManager/ConnectionStringGet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConnectionStringGetAll">
      <soap12:operation soapAction="http://tempuri.org/IDataManager/ConnectionStringGetAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConnectionStringUserAndPassword">
      <soap12:operation soapAction="http://tempuri.org/IDataManager/ConnectionStringUserAndPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataBaseProvider">
      <soap12:operation soapAction="http://tempuri.org/IDataManager/GetDataBaseProvider" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSettingValue">
      <soap12:operation soapAction="http://tempuri.org/IDataManager/GetSettingValue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CurrentTime">
      <soap12:operation soapAction="http://tempuri.org/IDataManager/CurrentTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppInfo">
      <soap12:operation soapAction="http://tempuri.org/IDataManager/AppInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Check">
      <soap12:operation soapAction="http://tempuri.org/IDataManager/Check" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataManager">
    <wsdl:port name="WSHttpBinding_IDataManager" binding="tns:WSHttpBinding_IDataManager">
      <soap12:address location="https://www.inmotiontools.com:8083/FrontOffice/DataManager.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://www.inmotiontools.com:8083/FrontOffice/DataManager.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>